In [4]:
import pandas as pd
import numpy as np

bbc_dataset = pd.read_csv("bbc-text.csv")
bbc_dataset = bbc_dataset.head(2225)
bbc_dataset.dropna()

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [5]:
bbc_dataset.shape

(2225, 2)

In [6]:
bbc_dataset['text'][450]

'labour in constituency race row labour s choice of a white candidate for one of the uk s most multi-racial seats proves the need for all-black short lists  says a race group.  local councillor lyn brown was selected for west ham  east london  in a contest between two white and five ethnic minority women. an operation black vote spokesman said they now wanted to meet labour party chairman ian mccartney for discussions. mr mccartney recently announced party consultation on all-black shortlists. however  labour has so far unable been unable to comment on the implications of the west ham result.  ashok vishwanathan of operation black vote  which aims to increase ethnic minorities  participation in the political process and their representation  said the result again showed all-women shortlists were not effective in getting minority women selected.  i think all-black shortlists are the only way to cut to the chase and address the lack of minority candidates   mr vishwanathan said.  last month the chairman of the commission for racial equality (cre) also called for ethnic minority shortlists in certain circumstances. a cre spokesman said the organisation had nothing to add on the shortlist issue specifically but would be working with all the political parties to address the under-representation of ethnic minorities in parliament.  we will be raising it with each of the party leaders on a formal basis and helping them find the most appropriate way forward   the spokesman said. ethnic minorities make up 8% of the united kingdom population but only 2% of mps - 13 out of 659 - are from a visible minority group. twelve of them represent labour  and one is a liberal democrat. if ethnic minorities were represented in the house of commons in proportion to their numbers in the population  there would be 42 ethnic minority mps.'

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = count_vect.fit_transform(bbc_dataset['text'].values.astype('U'))

In [14]:
print(doc_term_matrix)

  (0, 16292)	13
  (0, 6886)	2
  (0, 7514)	2
  (0, 16788)	3
  (0, 7863)	2
  (0, 15791)	1
  (0, 15523)	1
  (0, 11838)	1
  (0, 7759)	4
  (0, 4631)	4
  (0, 16294)	2
  (0, 4939)	2
  (0, 16778)	2
  (0, 12861)	2
  (0, 10532)	1
  (0, 9558)	1
  (0, 13578)	1
  (0, 17011)	2
  (0, 11614)	7
  (0, 16988)	4
  (0, 12636)	1
  (0, 4926)	1
  (0, 17390)	2
  (0, 15908)	2
  (0, 853)	1
  :	:
  (2224, 1896)	1
  (2224, 11355)	1
  (2224, 13514)	1
  (2224, 6975)	1
  (2224, 15161)	1
  (2224, 13329)	1
  (2224, 9326)	1
  (2224, 16327)	2
  (2224, 1004)	1
  (2224, 5458)	1
  (2224, 16174)	1
  (2224, 13908)	1
  (2224, 1699)	1
  (2224, 7168)	1
  (2224, 8708)	1
  (2224, 9784)	1
  (2224, 14690)	4
  (2224, 4454)	1
  (2224, 14219)	2
  (2224, 1084)	1
  (2224, 10303)	1
  (2224, 4668)	1
  (2224, 7258)	1
  (2224, 9254)	1
  (2224, 2042)	1

In [8]:
#apply LDA method
from sklearn.decomposition import LatentDirichletAllocation

LDA = LatentDirichletAllocation(n_components=5)
LDA.fit(doc_term_matrix)

LatentDirichletAllocation(n_components=5)

In [9]:
#random words fetched 0 to 9
import random

for i in range(10):
    random_id = random.randint(0,len(count_vect.get_feature_names_out()))
    print(count_vect.get_feature_names_out()[random_id])

gloss
travel
winnable
yushchenko
lvmh
31
goran
hostage
backing
slender

In [10]:
first_topic = LDA.components_[0]
first_topic

array([  0.20803142, 177.651651  ,  39.20024274, ...,   0.20358409,
         0.20000066,   0.2000002 ])

In [11]:
top_topic_words = first_topic.argsort()[-10:]
top_topic_words

array([16331, 17291, 10601,  4939,  6928, 10773, 15662, 17386, 10392,
       11614], dtype=int64)

In [12]:
for i in top_topic_words:
    print(count_vect.get_feature_names_out()[i])

uk
world
music
digital
games
new
technology
year
mobile
people

In [14]:
for i,topic in enumerate(LDA.components_):
  print(f'Top 10 words for topic #{i}:')
  print([count_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
  print('\n')

Top 10 words for topic #0:
['uk', 'world', 'music', 'digital', 'games', 'new', 'technology', 'year', 'mobile', 'people']


Top 10 words for topic #1:
['club', 'team', 'players', 'play', 'world', 'year', 'win', 'time', 'england', 'game']


Top 10 words for topic #2:
['told', 'minister', 'new', 'blair', 'party', 'election', 'labour', 'government', 'people', 'mr']


Top 10 words for topic #3:
['years', 'star', 'won', 'award', 'awards', 'new', 'music', 'year', 'best', 'film']


Top 10 words for topic #4:
['oil', 'china', '000', 'government', 'mr', 'new', 'market', 'firm', 'company', 'year']

In [15]:
topic_values = LDA.transform(doc_term_matrix)
topic_values.shape

(2225, 5)

In [16]:
topic_values = LDA.transform(doc_term_matrix)
topic_values.shape
bbc_dataset['Topic'] = topic_values.argmax(axis=1)

In [17]:
bbc_dataset['Topic'] = topic_values.argmax(axis=1)

In [18]:
bbc_dataset.head()

        category                                               text  Topic
0           tech  tv future in the hands of viewers with home th...      0
1       business  worldcom boss  left books alone  former worldc...      4
2          sport  tigers wary of farrell  gamble  leicester say ...      1
3          sport  yeading face newcastle in fa cup premiership s...      1
4  entertainment  ocean s twelve raids box office ocean s twelve...      3

In [20]:
bbc_dataset['Topic'].value_counts()

2    501
4    491
1    467
0    383
3    383
Name: Topic, dtype: int64

In [ ]:
#NMF for Topic Modeling in Python(2nd method)

In [21]:
import pandas as pd
import numpy as np

bbc_dataset = pd.read_csv("bbc-text.csv")
bbc_dataset = bbc_dataset.head(2225)
bbc_dataset.dropna()

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = tfidf_vect.fit_transform(bbc_dataset['text'].values.astype('U'))

In [23]:
from sklearn.decomposition import NMF

nmf = NMF(n_components=5)
nmf.fit(doc_term_matrix)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

NMF(n_components=5)

In [24]:
import random

for i in range(10):
    random_id = random.randint(0,len(tfidf_vect.get_feature_names_out()))
    print(tfidf_vect.get_feature_names_out()[random_id])

weinstein
obtained
guest
membership
hectic
drivers
phases
handful
churchill
scorched

In [27]:
first_topic=nmf.components_[0]
top_topic_words=first_topic.argsort()[-10:]

In [28]:
for i in top_topic_words:
    print(tfidf_vect.get_feature_names()[i])

rugby
players
play
team
cup
ireland
wales
win
game
england

In [29]:
for i,topic in enumerate(nmf.components_):
    print(f'Top 10 words for topic #{i}:')
    print([tfidf_vect.get_feature_names_out()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['rugby', 'players', 'play', 'team', 'cup', 'ireland', 'wales', 'win', 'game', 'england']


Top 10 words for topic #1:
['chancellor', 'minister', 'howard', 'government', 'party', 'brown', 'election', 'blair', 'labour', 'mr']


Top 10 words for topic #2:
['phones', 'software', 'broadband', 'users', 'phone', 'technology', 'digital', 'music', 'people', 'mobile']


Top 10 words for topic #3:
['films', 'won', 'festival', 'actress', 'oscar', 'actor', 'award', 'awards', 'best', 'film']


Top 10 words for topic #4:
['china', '2004', 'prices', 'oil', 'sales', 'economic', 'year', 'bank', 'economy', 'growth']

In [30]:
topic_values = nmf.transform(doc_term_matrix)
bbc_dataset['Topic'] = topic_values.argmax(axis=1)
bbc_dataset.head()

        category                                               text  Topic
0           tech  tv future in the hands of viewers with home th...      2
1       business  worldcom boss  left books alone  former worldc...      1
2          sport  tigers wary of farrell  gamble  leicester say ...      0
3          sport  yeading face newcastle in fa cup premiership s...      0
4  entertainment  ocean s twelve raids box office ocean s twelve...      3