In [2]:
import pandas as pd
path=pd.read_csv("/content/banklist.csv")

In [3]:
data=pd.read_csv("/content/banklist.csv")

In [4]:
#* Show the head of the dataframe **

In [5]:
data.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [6]:
#** What are the column names? **

In [7]:
data.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [8]:
# How many States (ST) are represented in this data set? **

In [9]:
data["ST"].nunique()

44

In [10]:
 #* Get a list or array of all the states in the data set. **

In [11]:
data["ST"].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

In [12]:
#* What are the top 5 states with the most failed banks? **

In [13]:
data["ST"].value_counts().head()

GA    93
FL    75
IL    68
CA    41
MN    23
Name: ST, dtype: int64

In [14]:
data.groupby("ST").count().sort_values('Bank Name',ascending=False).iloc[:5]['Bank Name']

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: Bank Name, dtype: int64

In [15]:
##  pandas exercises  [ notebook.commnity]

In [16]:
#what are top 5 accuring institutions?
data["Acquiring Institution"].value_counts().iloc[:5]

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

In [17]:
 #How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

data[data['Acquiring Institution']=='State Bank of Texas']

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [18]:
#** What is the most common city in California for a bank to fail in?**

In [19]:
data[data['ST']=='CA'].groupby('City').count().sort_values('Bank Name',ascending=False).head(1)

,Bank Name,ST,CERT,Acquiring Institution,Closing Date,Updated Date
City,,,,,,
Los Angeles,4,4,4,4,4,4

In [20]:
#* How many failed banks don't have the word "Bank" in their name? *

In [21]:
sum(data['Bank Name'].apply(lambda name: 'Bank' not in name))

14

In [22]:
#** How many bank names start with the letter 's' ? **

In [23]:
sum(data["Bank Name"].apply(lambda name:name[0].upper()=="S"))

54

In [24]:
#** How many CERT values are above 20000 ? **

In [25]:
sum(data["CERT"]>20000)

419

In [26]:
sum(data['CERT']>20000)

419

In [27]:
 #How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [28]:
sum(data['Bank Name'].apply(lambda name: len(name.split()) == 2))

114

In [29]:
#Bonus: How many banks closed in the year 2008? (this is hard because we technically haven't learned about time series with pandas yet! Feel free to skip this one!

In [30]:
sum(data['Closing Date'].apply(lambda date: date[-2:] == '08'))

25