In [22]:
#Using Python with MYSQL
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)

In [23]:
import mysql.connector as mysql

In [28]:
mydb = mysql.connect(host='mysampledb.mysql.database.azure.com',
                    user = 'admin1',
                    passwd = 'user123-1')

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x794d7823f130>

###Create Database

In [30]:
mycursor = mydb.cursor()

In [34]:
mycursor = mydb.cursor()
mycursor.execute('create database awesomechocolates')
# execute function is used to compile the sql statements

In [35]:
mycursor.execute('show databases')

In [38]:
print(mycursor)

CMySQLCursor: show databases

In [39]:
for i in mycursor:
  print(i)

('awesome chocolates',)
('awesomechocolates',)
('classicmodels',)
('information_schema',)
('mysql',)
('performance_schema',)
('pythontest',)
('sample',)
('sampledb',)
('students',)
('studentsdata',)
('sys',)

In [42]:
mycursor.execute('use pythontest')
mycursor.execute("create table students(name varchar(255),rollno int,branch varchar(255))")

In [43]:
mycursor.execute('show tables')

In [44]:
for i in mycursor.fetchall():
    print(i)

('student',)
('students',)

In [45]:
for i in mycursor:
    print(i)

##If you want to store the results in a variable, you can use fetchall() function. It stores the results in the form of a list.

In [46]:
mycursor.fetchall()

[]

In [47]:
mycursor.execute('show tables')
mycursor.fetchall()

[('student',), ('students',)]

In [48]:
mycursor.fetchall()

# the above fetchall() function retrieved everything from mycursor
# so it has nothing to give in the output and hence empty list []

[]

In [49]:
mycursor.execute('select * from students')

In [50]:
mycursor.fetchall()

[]

##Insert Data

In [51]:
cursor = mydb.cursor(buffered= True)

In [53]:
cursor.execute('use pythontest')

In [54]:
cursor.execute('show tables')
cursor.fetchall()

[('student',), ('students',)]

In [55]:
cursor.execute("select * from students")

In [57]:
cursor.execute('insert into students values ("Rahul",1,"ds")')

In [58]:
cursor.execute('select * from students')
cursor.fetchall()

[('Ada', 1, 'ds'), ('Rahul', 1, 'ds')]

In [59]:
cursor.execute('commit')

In [60]:
cursor.execute('select * from students')
cursor.fetchall()

[('Ada', 1, 'ds'), ('Rahul', 1, 'ds')]

#Another method for write same querry

In [62]:
cursor.execute('insert into students(rollno,name,branch) values (3,"Joe","ds")')
cursor.execute('commit')
cursor.execute('select * from students')
cursor.fetchall()

[('Ada', 1, 'ds'), ('Rahul', 1, 'ds'), ('Joseph', 2, 'ds'), ('Joe', 3, 'ds')]

##Insert many values

In [69]:
# write a query

query = "insert into students(name,rollno,branch) values (%s,%s,%s)"
values = [('Sin',3,'Python'),('Mit',4,'ML'),('koko',5,'Cyber')]
cursor.executemany(query,values)
cursor.execute('commit')

In [70]:
cursor.execute('commit')

In [71]:
cursor.execute('select * from students')
cursor.fetchall()

[('Ada', 1, 'ds'),
 ('Rahul', 1, 'ds'),
 ('Joseph', 2, 'ds'),
 ('Joe', 3, 'ds'),
 ('Shravan', 3, 'Python'),
 ('Mareech', 4, 'ML'),
 ('Ryan', 5, 'Cyber'),
 ('Sin', 3, 'Python'),
 ('Mit', 4, 'ML'),
 ('koko', 5, 'Cyber')]

In [72]:
def insert():
    name = input("Enter you name: ")
    roll = input('Enter your roll number :')
    branch = input("Enter your branch :")
    return (name,roll,branch)

insert()

Enter you name: vandana,1,DataScience
Enter your roll number :1
Enter your branch :DataScience

('vandana,1,DataScience', '1', 'DataScience')

In [73]:
cursor.execute('insert into students values {}'.format(insert()))

Enter you name: Vandana
Enter your roll number :1
Enter your branch :DataScience

In [74]:
cursor.execute('commit')

#Read operation

In [75]:
cursor.execute('select * from students')
cursor.fetchall()

[('Ada', 1, 'ds'),
 ('Rahul', 1, 'ds'),
 ('Joseph', 2, 'ds'),
 ('Joe', 3, 'ds'),
 ('Shravan', 3, 'Python'),
 ('Mareech', 4, 'ML'),
 ('Ryan', 5, 'Cyber'),
 ('Sin', 3, 'Python'),
 ('Mit', 4, 'ML'),
 ('koko', 5, 'Cyber'),
 ('Vandana', 1, 'DataScience')]

read with condition

In [76]:
cursor.execute('select * from students')
results = cursor.fetchall()

In [77]:
len(results)

11

In [78]:
# Method 1

cursor.execute('select * from students where rollno between 1 and 5')
results = cursor.fetchall()
print(results)

[('Ada', 1, 'ds'), ('Rahul', 1, 'ds'), ('Joseph', 2, 'ds'), ('Joe', 3, 'ds'), ('Shravan', 3, 'Python'), ('Mareech', 4, 'ML'), ('Ryan', 5, 'Cyber'), ('Sin', 3, 'Python'), ('Mit', 4, 'ML'), ('koko', 5, 'Cyber'), ('Vandana', 1, 'DataScience')]

In [79]:
# Method 2

cursor.execute('select * from students')
results = cursor.fetchall()

for name,roll,branch in results:
    if roll in [1,2,3,4,5]:
        print(name)

Ada
Rahul
Joseph
Joe
Shravan
Mareech
Ryan
Sin
Mit
koko
Vandana

# Update Operation

In [81]:
# Update the name of a person whose rollno is 5
cursor.execute('use pythontest')
cursor.execute('SET SQL_SAFE_UPDATES = 0')
query = "UPDATE students SET name = 'Peter' WHERE rollno=5"
cursor.execute(query)
cursor.execute('commit')

In [82]:
cursor.execute('select * from students')
results = cursor.fetchall()
print(results)

[('Ada', 1, 'ds'), ('Rahul', 1, 'ds'), ('Joseph', 2, 'ds'), ('Joe', 3, 'ds'), ('Shravan', 3, 'Python'), ('Mareech', 4, 'ML'), ('Peter', 5, 'Cyber'), ('Sin', 3, 'Python'), ('Mit', 4, 'ML'), ('Peter', 5, 'Cyber'), ('Vandana', 1, 'DataScience')]

#Delete Operation

In [83]:
# delete the record having branch as 'cyber'

query = "DELETE FROM students WHERE branch='cyber'"
cursor.execute(query)
cursor.execute('commit')

cursor.execute('select * from students')
results = cursor.fetchall()
print(results)

[('Ada', 1, 'ds'), ('Rahul', 1, 'ds'), ('Joseph', 2, 'ds'), ('Joe', 3, 'ds'), ('Shravan', 3, 'Python'), ('Mareech', 4, 'ML'), ('Sin', 3, 'Python'), ('Mit', 4, 'ML'), ('Vandana', 1, 'DataScience')]

That is the end of CRUD operation using python