In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 20.5 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 16.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [2]:
#use the library  of the conector
import mysql.connector

In [7]:
#connecting the mysql database
mydb = mysql.connector.connect(
    host="mysampledb.mysql.database.azure.com",
    user='admin1',
    password='user123-1',
    database='awesome chocolates',

)

In [8]:
#testing the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f6d6828c1f0>

In [10]:
#writing  the dql statement
mycursor=mydb.cursor() #Creating the cursor
sql="select * from people"
mycursor.execute(sql)

myresult=mycursor.fetchall() #fetching the data from the cursor

for x in myresult:
  print(x)

('Barr Faughny', 'SP01', 'Yummies', 'Hyderabad')
('Dennison Crosswaite', 'SP02', 'Yummies', 'Hyderabad')
('Gunar Cockshoot', 'SP03', 'Yummies', 'Hyderabad')
("Wilone O'Kielt", 'SP04', 'Delish', 'Hyderabad')
('Gigi Bohling', 'SP05', 'Delish', 'Hyderabad')
('Curtice Advani', 'SP06', 'Delish', 'Hyderabad')
('Kaine Padly', 'SP07', 'Delish', 'Hyderabad')
('Ches Bonnell', 'SP08', '', 'Hyderabad')
('Andria Kimpton', 'SP09', 'Jucies', 'Hyderabad')
('Brien Boise', 'SP10', 'Jucies', 'Wellington')
('Husein Augar', 'SP11', 'Yummies', 'Wellington')
('Karlen McCaffrey', 'SP12', 'Yummies', 'Wellington')
('Jan Morforth', 'SP13', 'Delish', 'Wellington')
('Dotty Strutley', 'SP14', 'Delish', 'Wellington')
('Kelci Walkden', 'SP15', 'Yummies', 'Wellington')
("Marney O'Breen", 'SP16', 'Jucies', 'Wellington')
('Rafaelita Blaksland', 'SP17', '', 'Wellington')
('Madelene Upcott', 'SP18', 'Jucies', 'Wellington')
('Beverie Moffet', 'SP19', 'Jucies', 'Seattle')
('Oby Sorrel', 'SP20', 'Jucies', 'Seattle')
('Mallorie Waber', 'SP21', '', 'Seattle')
('Jehu Rudeforth', 'SP22', '', 'Seattle')
('Van Tuxwell', 'SP23', 'Yummies', 'Seattle')
('Roddy Speechley', 'SP24', 'Delish', 'Seattle')
('Camilla Castle', 'SP25', 'Delish', 'Seattle')
('Janene Hairsine', 'SP26', 'Delish', 'Paris')
('Niall Selesnick', 'SP27', 'Jucies', 'Paris')
('Ebonee Roxburgh', 'SP28', '', 'Paris')
('Zach Polon', 'SP29', 'Yummies', 'Paris')
('Orton Livick', 'SP30', 'Yummies', 'Paris')
('Gray Seamon', 'SP31', 'Delish', 'Paris')
('Benny Karolovsky', 'SP32', 'Jucies', 'Paris')
('Dyna Doucette', 'SP33', 'Jucies', 'Paris')

In [11]:
#writing  the ddl statement

mycursor=mydb.cursor()
mycursor.execute("create database pythontest")

In [12]:
#connecting the database which we have created
mydb = mysql.connector.connect(
    host='mysampledb.mysql.database.azure.com',
    user='admin1',
    password='user123-1',
    database='pythontest'
)

In [13]:
#creating the table in  new database
mycursor=mydb.cursor()
mycursor.execute("create table student (studentid int auto_increment primary key, name varchar(255), city varchar(100)) ")

In [14]:

mycursor=mydb.cursor()
sql="insert into student (name,city) values (%s,%s)"
val=("Chan","Singapore")

mycursor.execute(sql,val)
mydb.commit() ## comminting the data of updates which is done in the cursor/session
print(mycursor.rowcount,"record insert")

1 record insert

In [15]:
#dql
mycursor=mydb.cursor()
sql="select * from student"
mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Chan', 'Singapore')

In [18]:
# Writing DML statement
import mysql.connector
val=[
    ("Shalu","Delhi"),
    ("Samar","Riyad"),
    ("Aung Ko Ko","Singapore"),
    ("Eiman","Dubai")
]
sql ="insert into student (name,city) values (%s,%s)"
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"record insert")

4 record insert

In [19]:
 #DQL
mycursor=mydb.cursor()
sql="select * from student"
mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Chan', 'Singapore')
(2, 'Shalu', 'Delhi')
(3, 'Samar', 'Riyad')
(4, 'Aung Ko Ko', 'Singapore')
(5, 'Eiman', 'Dubai')

In [20]:
# Commit all the acitivies to the database, to view in a diffrent session
mydb.commit()