In [9]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)

In [10]:
import mysql.connector

In [11]:
mydb=mysql.connector.connect(
    host="mysampledb.mysql.database.azure.com",
    user="admin1",
    password="user123-1",
    database="awesome chocolates"
    )

In [12]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7a92e0744fd0>

In [13]:
#dql
mycursor=mydb.cursor()
sql="select * from  products"
mycursor.execute(sql)
myresult=mycursor.fetchall()

for x in myresult:
  print(x)

('P01', 'Milk Bars', 'Bars', 'LARGE', 1.52)
('P02', '50% Dark Bites', 'Bites', 'LARGE', 2.57)
('P03', 'Almond Choco', 'Bars', 'LARGE', 9.6)
('P04', 'Raspberry Choco', 'Bars', 'LARGE', 4.09)
('P05', 'Mint Chip Choco', 'Bars', 'LARGE', 1.54)
('P06', 'Eclairs', 'Bites', 'LARGE', 2.24)
('P07', 'Drinking Coco', 'Other', 'LARGE', 1.62)
('P08', '99% Dark & Pure', 'Bars', 'LARGE', 2.47)
('P09', 'Orange Choco', 'Bars', 'LARGE', 7.14)
('P10', 'Spicy Special Slims', 'Bites', 'LARGE', 5.79)
('P11', 'After Nines', 'Bites', 'LARGE', 4.43)
('P12', 'Fruit & Nut Bars', 'Bars', 'LARGE', 1.58)
('P13', '85% Dark Bars', 'Bars', 'SMALL', 0.64)
('P14', 'White Choc', 'Other', 'SMALL', 0.16)
('P15', "Baker's Choco Chips", 'Bars', 'SMALL', 3.4)
('P16', 'Organic Choco Syrup', 'Other', 'SMALL', 1.47)
('P17', 'Caramel Stuffed Bars', 'Bars', 'SMALL', 0.54)
('P18', 'Manuka Honey Choco', 'Other', 'SMALL', 4.75)
('P19', '70% Dark Bites', 'Bites', 'SMALL', 4.97)
('P20', 'Smooth Sliky Salty', 'Bars', 'SMALL', 2.97)
('P21', 'Choco Coated Almonds', 'Bites', 'SMALL', 6.17)
('P22', 'Peanut Butter Cubes', 'Bites', 'SMALL', 3.57)

In [14]:
mydb.commit()

In [15]:
mydb.close()