In [89]:
### CHI2 TEST ##

In [90]:
import seaborn as sns
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare as chi
dataset=sns.load_dataset("tips")

In [91]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [92]:
dataset_table=pd.crosstab(dataset["sex"],dataset["smoker"])
print (dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [93]:
dataset_table.values

array([[60, 97],
       [33, 54]])

In [94]:
val=stats.chi2_contingency(dataset_table)

In [95]:
val

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [96]:
Expected_Values=val[3]

In [97]:
Observed_values=dataset_table.values
print("Observed_values:-\n",Observed_values)

Observed_values:-
 [[60 97]
 [33 54]]

In [98]:
val=stats.chi2_contingency(dataset_table)

In [99]:
val

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [100]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree Of Freedom:-",ddof)
alpha=0.05

Degree Of Freedom:- 1

In [101]:
Expected_Values=val[3]

In [102]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_values,Expected_Values)])
chi_square_stastistic=chi_square[0]+chi_square[1]

In [103]:
print("chi_square stastistic:-",chi_square_stastistic)

chi_square stastistic:- 0.001934818536627623

In [104]:
chi_square_stastistic

0.001934818536627623

In [105]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [106]:
chi_square_stastistic

0.001934818536627623

In [107]:
#p-value
p_value=1-chi2.cdf(x=chi_square_stastistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 0.964915107315732
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.964915107315732

In [108]:
if chi_square_stastistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables